/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

li
{
    display: inline;
}
.main-header
{
    height:77px;
    width:100%;
}

.logo {
    float: left;
}

.company-name
{
    display: inline-block;
    padding-top: 7px;
    font-size: 40px;
    letter-spacing: 4px;
}

.logo-tm
{
    display: inline-block;
    vertical-align: middle;
    padding-left: 100px;
    float:left;
}

.txt-title
{
    letter-spacing: 2px;
}

.col-1-2-1 p
{
    padding-top: 10px;
    line-height: 16px;
}

.navig-links
{
    display: inline-block;
    float:right;
    padding-right: 100px;
    padding-top: 25px;
}

.banner
{
    height:500px;
    width:100%;
    background-image: url('../images/bg.jpg');
    background-size:cover;
    border:1px solid gray;
}

.col-1-2-1
{
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
    padding-top: 100px;
}
.col-1-2-2
{
    padding-left: 50px;
    padding-right: 10px;
    display: inline-block;
}
.col-1-2-1,
.col-1-2-2
{
    width:45%;
}

ul li
{
    padding-left: 20px;
}

.col-1-2-1 .txt-title
{
    font-size: 25px;
    font-weight: bold;
}

.col-1-2-1 p
{
    line-height: 32px;
    font-size: 20px;
}

.interaction
{
    height:70px;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    color: rgba(0,0,0,0.6);
}

.interaction span
{
    display: inline-block;
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
}
.design-types
{
    padding-left:200px;
}

.col-1-4
{
    width:25%;
    float: left;
    padding-right: 5px;
}

.image-works
{
    float:left;
}

.left-content
{
    clear: left;
    line-height: 25px;
    font-size: 16px;
    padding-right: 10px;
    padding-top:10px;
}

.left-title
{
    padding-bottom:10px;
    height:30px;
    text-align: center;
}

.main-img
{
    display: block;
    padding-top: 15px;
}

.left-side
{
    border-bottom: 2px solid #548498;
    background-color: #43A7CB;
}

.middle-side
{
    background-color: #92B30E;
    border-bottom: 2px solid #80922F;
}

.right-side
{
    background-color: #FF7220;
    border-bottom: 2px solid #B06E3E;
}

.middle-side span,
.left-side span,
.right-side span
{
    display: inline-block;
    padding-top: 10px;
}

.works section
{
    display: inline-block;
}

.image-works
{
    width:60px;
    height:60px;
}

.design-types
{
    padding-top: 50px;
}

.button
{
    margin-top: 30px;
    width:150px;
    height:40px;
    float:right;
    border:1px solid gray;
    text-align: center;
    background-color: gray;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
}

.get-now
{
    display: inline-block;
    padding-top:10px;
    color:#fff;
}